{
  "extends": [
    "codex"
  ],
  "rules": {
    /**
     * Temporary suppress some errors. We need to fix them partially in next patches
     */
    "import/no-duplicates": ["warn"],
    "@typescript-eslint/triple-slash-reference": ["off"]
  },
  "settings": {
    "jsdoc": {
      "mode": "typescript"
    }
  },
  "globals": {
    "Node": true,
    "Range": true,
    "HTMLElement": true,
    "HTMLDivElement": true,
    "Element": true,
    "Selection": true,
    "SVGElement": true,
    "Text": true,
    "InsertPosition": true,
    "PropertyKey": true,
    "MouseEvent": true,
    "TouchEvent": true,
    "KeyboardEvent": true,
    "ClipboardEvent": true,
    "DragEvent": true,
    "Event": true,
    "EventTarget": true,
    "Document": true,
    "NodeList": true,
    "File": true,
    "FileList": true,
    "MutationRecord": true,
    "AddEventListenerOptions": true,
    "DataTransfer": true,
    "DOMRect": true,
    "ClientRect": true,
    "ArrayLike": true,
    "unknown": true
  }
}
