[submodule "example/tools/inline-code"]
	path = example/tools/inline-code
	url = https://github.com/editor-js/inline-code
[submodule "example/tools/header"]
	path = example/tools/header
	url = https://github.com/editor-js/header
[submodule "example/tools/delimiter"]
	path = example/tools/delimiter
	url = https://github.com/editor-js/delimiter
[submodule "example/tools/list"]
	path = example/tools/list
	url = https://github.com/editor-js/list
[submodule "example/tools/quote"]
	path = example/tools/quote
	url = https://github.com/editor-js/quote
[submodule "example/tools/simple-image"]
	path = example/tools/simple-image
	url = https://github.com/editor-js/simple-image
[submodule "example/tools/marker"]
	path = example/tools/marker
	url = https://github.com/editor-js/marker
[submodule "example/tools/code"]
	path = example/tools/code
	url = https://github.com/editor-js/code
[submodule "example/tools/image"]
	path = example/tools/image
	url = https://github.com/editor-js/image
[submodule "example/tools/embed"]
	path = example/tools/embed
	url = https://github.com/editor-js/embed
[submodule "example/tools/table"]
	path = example/tools/table
	url = https://github.com/editor-js/table
[submodule "example/tools/checklist"]
	path = example/tools/checklist
	url = https://github.com/editor-js/checklist
[submodule "example/tools/link"]
	path = example/tools/link
	url = https://github.com/editor-js/link
[submodule "example/tools/raw"]
	path = example/tools/raw
	url = https://github.com/editor-js/raw
[submodule "example/tools/warning"]
	path = example/tools/warning
	url = https://github.com/editor-js/warning
[submodule "example/tools/underline"]
	path = example/tools/underline
	url = https://github.com/editor-js/underline
[submodule "example/tools/nested-list"]
	path = example/tools/nested-list
	url = https://github.com/editor-js/nested-list
[submodule "example/tools/text-variant-tune"]
	path = example/tools/text-variant-tune
	url = https://github.com/editor-js/text-variant-tune
