@font-face {
    font-family: 'codex_editor';
    src: url('fonts/codex_editor/codex_editor.eot?52438661');
    src: url('fonts/codex_editor/codex_editor.eot?52438661#iefix') format('embedded-opentype'),
    url('fonts/codex_editor/codex_editor.woff?52438661') format('woff'),
    url('fonts/codex_editor/codex_editor.ttf?52438661') format('truetype'),
    url('fonts/codex_editor/codex_editor.svg?52438661#codex_editor') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="ce_icon-"]:before, [class*="ce_icon-"]:before {
    font-family: "codex_editor";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;

    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    margin-left: .2em;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ce_icon-instagram:before { content: '\e800'; } /* '' */
.ce_icon-minus:before { content: '\e801'; } /* '' */
.ce_icon-picture:before { content: '\e802'; } /* '' */
.ce_icon-minus-circled:before { content: '\e803'; } /* '' */
.ce_icon-cog:before { content: '\e804'; } /* '' */
.ce_icon-link:before { content: '\e805'; } /* '' */
.ce_icon-unlink:before { content: '\e806'; } /* '' */
.ce_icon-code:before { content: '\e807'; } /* '' */
.ce_icon-quote-right:before { content: '\e808'; } /* '' */
.ce_icon-comment:before { content: '\e809'; } /* '' */
.ce_icon-trash-empty:before { content: '\e80a'; } /* '' */
.ce_icon-down-open:before { content: '\e80b'; } /* '' */
.ce_icon-up-open:before { content: '\e80c'; } /* '' */
.ce_icon-up-big:before { content: '\e80d'; } /* '' */
.ce_icon-down-big:before { content: '\e80e'; } /* '' */
.ce_icon-header:before { content: '\e80f'; } /* '' */
.ce_icon-align-center:before { content: '\e810'; } /* '' */
.ce_icon-align-left:before { content: '\e811'; } /* '' */
.ce_icon-align-right:before { content: '\e812'; } /* '' */
.ce_icon-list:before { content: '\e813'; } /* '' */
.ce_icon-strike:before { content: '\e814'; } /* '' */
.ce_icon-underline:before { content: '\e815'; } /* '' */
.ce_icon-table:before { content: '\e816'; } /* '' */
.ce_icon-columns:before { content: '\e817'; } /* '' */
.ce_icon-bold:before { content: '\e818'; } /* '' */
.ce_icon-italic:before { content: '\e819'; } /* '' */
.ce_icon-smile:before { content: '\e81a'; } /* '' */
.ce_icon-twitter:before { content: '\e81b'; } /* '' */
.ce_icon-plus-1:before { content: '\e81c'; } /* '' */
.ce_icon-plus-circled-1:before { content: '\e81d'; } /* '' */
.ce_icon-quote:before { content: '\e81e'; } /* '' */
.ce_icon-code-1:before { content: '\e81f'; } /* '' */
.ce_icon-trash:before { content: '\e820'; } /* '' */
.ce_icon-list-add:before { content: '\e821'; } /* '' */
.ce_icon-list-1:before { content: '\e822'; } /* '' */



/* EDITOR */

.ce_wrapper {
    position: relative;
}

.ce_redactor {
    position: relative;
    outline: none;
}

.ce_toolbar{
    position: absolute;
    z-index: 2;

    margin-left: -45px;
    /*transform: translateY(100px);*/

    overflow: hidden;

    background: #fff;
    border: 1px solid #e3e7ee;
    border-radius: 2px;
    box-shadow: 0 2px 11px rgba(27,39,54,.11);
    color: #2e394b;

    display: none;
    
}
    .ce_toolbar.opened{
        display: block;

        animation-name: bounceIn; animation-duration: 200ms; animation-iteration-count: 1;
    }


    .ce_toolbar .toggler{
        color: #3e6dd6
    }
    .ce_toolbar .toggler,
    .ce_toolbar li
    {
        display: inline-block;
        padding: 12px;
        cursor: pointer;
        font-size: 14px;
    }
        .ce_toolbar .selected,
        .ce_toolbar li:hover
        {
            background: #3e6dd6;
            color: #e2edff;
        }


/** Typography styles */
.ce_redactor p{
    padding: 5px 0;
    font-size: 1em;
    line-height: 1.7em;
    margin: 0;
}
.ce_redactor li{
    margin: 5px 0;
}

@-webkit-keyframes bounceIn {
    0% { opacity: 0; -webkit-transform: scale(.3);}
    50% {opacity: 1; -webkit-transform: scale(1.05);}
    70% {-webkit-transform: scale(.9);}
    100% {-webkit-transform: scale(1);}
}

@-moz-keyframes bounceIn {
    0% {opacity: 0;-moz-transform: scale(.3);}
    50% {opacity: 1;-moz-transform: scale(1.05);}
    70% {-moz-transform: scale(.9);}
    100% {-moz-transform: scale(1);}
}
@-o-keyframes bounceIn {
    0% {opacity: 0;-o-transform: scale(.3);}
    50% {opacity: 1;-o-transform: scale(1.05);}
    70% {-o-transform: scale(.9);}
    100% {-o-transform: scale(1);}
}
@keyframes bounceIn {
    0% {opacity: 0;transform: scale(.3);}
    50% {opacity: 1;transform: scale(1.07);}
    70% {transform: scale(.9);}
    100% {transform: scale(1);}
}

.bounceIn {
    -webkit-animation-name: bounceIn; -webkit-animation-duration: 600ms; -webkit-animation-iteration-count: 1;
    -moz-animation-name: bounceIn; -moz-animation-duration: 600ms; -moz-animation-iteration-count: 1;
    -o-animation-name: bounceIn; -o-animation-duration: 600ms; -o-animation-iteration-count: 1;
    animation-name: bounceIn; animation-duration: 600ms; animation-iteration-count: 1;
}
