@font-face {
    font-family: 'codex_editor';
    src: url('fonts/codex_editor/codex_editor.eot?52438661');
    src: url('fonts/codex_editor/codex_editor.eot?52438661#iefix') format('embedded-opentype'),
    url('fonts/codex_editor/codex_editor.woff?52438661') format('woff'),
    url('fonts/codex_editor/codex_editor.ttf?52438661') format('truetype'),
    url('fonts/codex_editor/codex_editor.svg?52438661#codex_editor') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="ce_icon-"]:before, [class*="ce_icon-"]:before {
    font-family: "codex_editor";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;

    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    margin-left: .2em;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ce_icon-instagram:before { content: '\e800'; } /* '' */
.ce_icon-minus:before { content: '\e801'; } /* '' */
.ce_icon-picture:before { content: '\e802'; } /* '' */
.ce_icon-minus-circled:before { content: '\e803'; } /* '' */
.ce_icon-cog:before { content: '\e804'; } /* '' */
.ce_icon-link:before { content: '\e805'; } /* '' */
.ce_icon-unlink:before { content: '\e806'; } /* '' */
.ce_icon-code:before { content: '\e807'; } /* '' */
.ce_icon-quote-right:before { content: '\e808'; } /* '' */
.ce_icon-comment:before { content: '\e809'; } /* '' */
.ce_icon-trash-empty:before { content: '\e80a'; } /* '' */
.ce_icon-down-open:before { content: '\e80b'; } /* '' */
.ce_icon-up-open:before { content: '\e80c'; } /* '' */
.ce_icon-up-big:before { content: '\e80d'; } /* '' */
.ce_icon-down-big:before { content: '\e80e'; } /* '' */
.ce_icon-header:before { content: '\e80f'; } /* '' */
.ce_icon-align-center:before { content: '\e810'; } /* '' */
.ce_icon-align-left:before { content: '\e811'; } /* '' */
.ce_icon-align-right:before { content: '\e812'; } /* '' */
.ce_icon-list:before { content: '\e813'; } /* '' */
.ce_icon-strike:before { content: '\e814'; } /* '' */
.ce_icon-underline:before { content: '\e815'; } /* '' */
.ce_icon-table:before { content: '\e816'; } /* '' */
.ce_icon-columns:before { content: '\e817'; } /* '' */
.ce_icon-bold:before { content: '\e818'; } /* '' */
.ce_icon-italic:before { content: '\e819'; } /* '' */
.ce_icon-smile:before { content: '\e81a'; } /* '' */
.ce_icon-twitter:before { content: '\e81b'; } /* '' */
.ce_icon-plus-1:before { content: '\e81c'; } /* '' */
.ce_icon-plus-circled-1:before { content: '\e81d'; } /* '' */
.ce_icon-quote:before { content: '\e81e'; } /* '' */
.ce_icon-code-1:before { content: '\e81f'; } /* '' */
.ce_icon-trash:before { content: '\e820'; } /* '' */
.ce_icon-list-add:before { content: '\e821'; } /* '' */
.ce_icon-list-1:before { content: '\e822'; } /* '' */



/* EDITOR */
.hidden {display: none !important;}
.hidden_file {position: absolute; opacity: 0; z-index: -1; left:-99999px; }

.codex_editor button{
    border: 0;
    outline: none;
    background: transparent;
}
.codex_editor [contenteditable]{
    outline: none;
}

.codex_editor .node{
    position: relative;
    z-index: 5;
    min-height: 20px;
}

.codex_editor .add_buttons{
    color: #3b4352;
    font-size: 16px;
    /* margin-left: -42px; */
    /* margin-top: -50px; */
    /* margin-bottom: -25px; */
    position: absolute;
    /* visibility: hidden; */
    opacity: 0;
    transition: opacity .15s ease-in-out;
    top: 0;
    left: -35px;
    white-space: nowrap;
}

.add_buttons.show {
    background: #fff;
    z-index: 10;
    opacity: 1;
}
.add_buttons.show .buttons {display:none;}

.codex_editor .node.selected + .add_buttons{visibility:visible;}

.add_buttons .buttons {
    position: absolute;
    top: 1px;
    background: wheat;
    padding: 2px;
    border-radius: 3px;
    display: none;
}
.codex_editor .add_buttons button:hover,
.codex_editor .add_buttons .focused{
    color: #3770ef;
}
.codex_editor .add_buttons button{
    transition: all 150ms ease-in;
    transform: translate3d(-50px, 0 , 0);
    opacity: 0;
    font-size: 14px;
}
.codex_editor .buttons_toggled{
    background: #fff;
    z-index: 10;
    opacity: 1;
}
.codex_editor .buttons_toggled button{
    opacity: 1;
    transform: translate3d(0,0,0);
}


.codex_editor .toggler{
    display: inline-block;
    font-size: 23px;
    color: #387ff5;
    transition: transform 100ms ease-in;
    cursor: pointer;
}

.codex_editor .toggler .buttons {
    position: relative;
    top: -2px;
}
.codex_editor .buttons_toggled .toggler{
    transform: rotate(45deg);
}

.codex_editor .buttons_toggled .buttons{
    display: inline;
}




/** Typography styles */
.codex_editor p{
    padding: 5px 0;
    font-size: 1em;
    margin: 0;
}

.codex_editor {position: relative;}

.codex_editor .ce_content {
}