@font-face {
    font-family: 'codex_editor';
    src: url('fonts/codex_editor/codex_editor.eot?52438661');
    src: url('fonts/codex_editor/codex_editor.eot?52438661#iefix') format('embedded-opentype'),
    url('fonts/codex_editor/codex_editor.woff?52438661') format('woff'),
    url('fonts/codex_editor/codex_editor.ttf?52438661') format('truetype'),
    url('fonts/codex_editor/codex_editor.svg?52438661#codex_editor') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="ce_icon-"]:before, [class*="ce_icon-"]:before {
    font-family: "codex_editor";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;

    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    margin-left: .2em;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ce_icon-instagram:before { content: '\e800'; } /* '' */
.ce_icon-minus:before { content: '\e801'; } /* '' */
.ce_icon-picture:before { content: '\e802'; } /* '' */
.ce_icon-minus-circled:before { content: '\e803'; } /* '' */
.ce_icon-cog:before { content: '\e804'; } /* '' */
.ce_icon-link:before { content: '\e805'; } /* '' */
.ce_icon-unlink:before { content: '\e806'; } /* '' */
.ce_icon-code:before { content: '\e807'; } /* '' */
.ce_icon-quote-right:before { content: '\e808'; } /* '' */
.ce_icon-comment:before { content: '\e809'; } /* '' */
.ce_icon-trash-empty:before { content: '\e80a'; } /* '' */
.ce_icon-down-open:before { content: '\e80b'; } /* '' */
.ce_icon-up-open:before { content: '\e80c'; } /* '' */
.ce_icon-up-big:before { content: '\e80d'; } /* '' */
.ce_icon-down-big:before { content: '\e80e'; } /* '' */
.ce_icon-header:before { content: '\e80f'; } /* '' */
.ce_icon-align-center:before { content: '\e810'; } /* '' */
.ce_icon-align-left:before { content: '\e811'; } /* '' */
.ce_icon-align-right:before { content: '\e812'; } /* '' */
.ce_icon-list:before { content: '\e813'; } /* '' */
.ce_icon-strike:before { content: '\e814'; } /* '' */
.ce_icon-underline:before { content: '\e815'; } /* '' */
.ce_icon-table:before { content: '\e816'; } /* '' */
.ce_icon-columns:before { content: '\e817'; } /* '' */
.ce_icon-bold:before { content: '\e818'; } /* '' */
.ce_icon-italic:before { content: '\e819'; } /* '' */
.ce_icon-smile:before { content: '\e81a'; } /* '' */
.ce_icon-twitter:before { content: '\e81b'; } /* '' */
.ce_icon-plus-1:before { content: '\e81c'; } /* '' */
.ce_icon-plus-circled-1:before { content: '\e81d'; } /* '' */
.ce_icon-quote:before { content: '\e81e'; } /* '' */
.ce_icon-code-1:before { content: '\e81f'; } /* '' */
.ce_icon-trash:before { content: '\e820'; } /* '' */
.ce_icon-list-add:before { content: '\e821'; } /* '' */
.ce_icon-list-1:before { content: '\e822'; } /* '' */



/* EDITOR */
.hidden {display: none !important;}
.hidden_file {position: absolute; opacity: 0; z-index: -1; left:-99999px; }

.codex_editor button{
    border: 0;
    outline: none;
    background: transparent;
}
.codex_editor [contenteditable]{
    outline: none;
}

.codex_editor .node{
    position: relative;
}

.codex_editor .add_buttons{
    /* position: relative; */
    /* left: -42px; */
    /* top: -30px; */
    color: #3b4352;
    font-size: 16px;
    margin-left: -42px;
    margin-top: -20px;
    margin-bottom: -25px;
}

.add_buttons .buttons {
    position: absolute;
}
.codex_editor .add_buttons button:hover,
.codex_editor .add_buttons .focused{
    color: #3770ef;
}
.codex_editor .add_buttons button{
    transition: all 150ms ease-in;
    transform: translate3d(-50px, 0 , 0);
    opacity: 0;
    font-size: 14px;
    /*display: none;*/
}
.codex_editor .buttons_toggled{
    background: #fff;
}
.codex_editor .buttons_toggled button{
    opacity: 1;
    transform: translate3d(0,0,0);
}


.codex_editor .toggler{
    /* position: relative; */
    /* left: -42px; */
    display: inline-block;
    font-size: 23px;
    color: #387ff5;
    transition: transform 100ms ease-in;
}

.codex_editor .toggler .buttons {
    position: relative;
    top: -2px;
}
.codex_editor .buttons_toggled .plus_btn{
    transform: rotate(45deg);
}




/** Typography styles */
.codex_editor p{
    margin: 30px 0;
    font-size: 17px;
}





/*
.editor_content {}
.editor_content label {display:block;margin-bottom:10px;}
.editor_content input[type=file]{}
.editor_content textarea{}
*/
/*
.editor_content button#btn_save{
    padding: 5px 15px;
    float: right;
}
.editor_content .cover{
    border: 1px solid gray;
    width: 96%;
    display: block;
    margin: 5px 0 15px 0;
    padding: 2%;
}
.editor_content .cover img{max-width: 100%;margin: auto;display: block;}

.editor_content .cover .actions {
    text-align: center;
}
.editor_content .cover .actions a{
    margin:  0 10px;
    border-bottom: 1px dashed;
}
.editor_content .cover .actions a:hover{
    text-decoration:none;
}

.editor_content .actions span{

    color: #6091c8;

    margin-right: 15px;

    border-bottom: 1px dashed;

    cursor: pointer;
}


.editor_content .add_buttons{
    width: 300px;
    margin: 21px auto;
    padding: 10px 0;
    text-align: center;
    background: #F2F2F6;
    position: relative;
}
.editor_content .add_buttons:before{
    content: "";
    background: no-repeat url(/public/img/editor_buttons.png) -135px 0px;
    position: absolute;
    padding: 10px;
    left: 140px;
    top: 17px;
}
.editor_content .add_buttons:hover:before{background-image: none;}
.editor_content .add_buttons:hover button{
    visibility: visible;
    z-index: 0;
}
.editor_content .add_buttons button {
    float: none;
    padding: 5px;
    margin: 0px 0px;
    width: 35px;
    height: 35px;
    border: none;
    position: relative;
    visibility: hidden;
    z-index: -1;
    background: transparent;
}
.editor_content .add_buttons button:before {
    content: "";
    background: no-repeat url(/public/img/editor_buttons.png?) 0;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 8px;
    top: 8px;
}
.editor_content .add_buttons .paragraph:before{
    background-position: -156px -1px;
}
.editor_content .add_buttons .img:before{
    background-position: -27px 0;
    width: 22px;
    left: 7px;
}
.editor_content .add_buttons .list:before{
    background-position: -56px 0;
    width: 21px;
}
.editor_content .node{
    border: 1px dashed;
    padding: 5px;
    margin: 20px 0;
}
.editor_content .node .content{}
.editor_content .node .content p{min-height: 25px;}
.editor_content .node .action_buttons{
    border-top: 1px dashed;
    text-align: right;
    padding: 5px  0 0;
}
.editor_content .node .action_buttons button{
    width: 35px;
    height: 35px;
}

.editor_wrapper #html_result {
    height: 350px;
}*/