@font-face {
    font-family: 'codex_editor';
    src: url('fonts/codex_editor/codex-editor.eot?20895205');
    src: url('fonts/codex_editor/codex-editor.eot?20895205#iefix') format('embedded-opentype'),
    url('fonts/codex_editor/codex-editor.woff?20895205') format('woff'),
    url('fonts/codex_editor/codex-editor.ttf?20895205') format('truetype'),
    url('fonts/codex_editor/codex-editor.svg?20895205#codex_editor') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="ce-icon-"]:before,
[class*="ce-icon-"]:before {
    font-family: "codex_editor";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;

    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    margin-left: .2em;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ce-icon-instagram:before { content: '\e800'; } /* '' */
.ce-icon-picture:before { content: '\e801'; } /* '' */
.ce-icon-cog:before { content: '\e802'; } /* '' */
.ce-icon-link:before { content: '\e803'; } /* '' */
.ce-icon-unlink:before { content: '\e804'; } /* '' */
.ce-icon-code:before { content: '\e805'; } /* '' */
.ce-icon-quote:before { content: '\e806'; } /* '' */
.ce-icon-trash:before { content: '\e807'; } /* '' */
.ce-icon-down-big:before { content: '\e808'; } /* '' */
.ce-icon-up-big:before { content: '\e809'; } /* '' */
.ce-icon-header:before { content: '\e80a'; } /* '' */
.ce-icon-paragraph:before { content: '\e80b'; } /* '' */
.ce-icon-align-left:before { content: '\e80c'; } /* '' */
.ce-icon-align-center:before { content: '\e80d'; } /* '' */
.ce-icon-align-right:before { content: '\e80e'; } /* '' */
.ce-icon-font:before { content: '\e80f'; } /* '' */
.ce-icon-bold:before { content: '\e810'; } /* '' */
.ce-icon-medium:before { content: '\e811'; } /* '' */
.ce-icon-italic:before { content: '\e812'; } /* '' */
.ce-icon-list-bullet:before { content: '\e813'; } /* '' */
.ce-icon-list-numbered:before { content: '\e814'; } /* '' */
.ce-icon-strike:before { content: '\e815'; } /* '' */
.ce-icon-underline:before { content: '\e816'; } /* '' */
.ce-icon-table:before { content: '\e817'; } /* '' */
.ce-icon-ellipsis-vert:before { content: '\e818'; } /* '' */
.ce-icon-columns:before { content: '\e819'; } /* '' */
.ce-icon-smile:before { content: '\e81a'; } /* '' */
.ce-icon-newspaper:before { content: '\e81b'; } /* '' */
.ce-icon-twitter:before { content: '\e81c'; } /* '' */
.ce-icon-facebook-squared:before { content: '\e81d'; } /* '' */
.ce-icon-vkontakte:before { content: '\e81e'; } /* '' */



/* EDITOR */

.ce_wrapper {
    position: relative;
}

.ce_redactor {
    position: relative;
    outline: none;
    padding: 1px 0;
}

.ce_toolbar{
    position: absolute;
    z-index: 2;

    margin-left: -1px;

    background: #fff;
    border: 1px solid #e3e7ee;
    border-radius: 2px;
    box-shadow: 0 2px 11px rgba(27,39,54,.11);
    color: #2e394b;

    display: none;

}
    .ce_toolbar.opened{
        display: block;

       /*animation-name: bounceIn; animation-duration: 200ms; animation-iteration-count: 1;*/
    }


    .ce_toolbar .toggler{
        color: #6485d0;
        background: #f8f9fd;
        cursor: pointer;
    }
    .ce_toolbar .toggler,
    .ce_toolbar li
    {
        display: inline-block;
        padding: 12px;
        cursor: pointer;
        font-size: 14px;
    }
        .ce_toolbar .selected,
        .ce_toolbar .toggler:hover,
        .ce_toolbar li:hover
        {
            background: #3e6dd6;
            color: #e2edff;
        }

        .ce_toolbar .settings_btn{
            font-size: 1.1em;
        }


/** Block settings panel */

.ce_block_settings{
    position: absolute;
    z-index: 2;
    margin-top: 15px;
    margin-left: 4px;
    padding: 25px 30px;

    color: #2e394b;

    overflow: hidden;

    background: #fff;
    border: 1px solid #e8e9f1;
    border-radius: 2px;
    box-shadow: 0 2px 11px rgba(27,39,54,.11);

    display: none;
}
    .ce_block_settings.opened{
        display: block;
    }


/** Typography styles */

.ce_redactor p{
    padding: 5px 0;
    font-size: 1em;
    line-height: 1.7em;
    margin: 0;
}
.ce_redactor ul,
.ce_redactor ol{
    list-style-position: inside;
}
.ce_redactor li{
    margin: 5px 0;
}
.ce_redactor blockquote{
    font-size: 1.3em;
    line-height: 1.9em;
    margin: 2.5em 162px !important;
    padding: 2.5em 3.5em !important;
}
.ce_redactor code{
    display: block;
    font-family: 'monospace', 'monaco', 'consolas', 'courier';
    line-height: 1.5em;
    background: #f8f8fd !important;
    color: #4a8bd1;
}


.ce_redactor .ce_block{
    padding: 10px;
    /*margin: -1px;*/
    /*border: 1px dotted #ccc;*/
    background: #fff;
    outline: none;
}
    .ce_redactor .ce_block:focus{
        background: #fbfbfb;
        border-radius: 3px;
    }








/**
* Plugin styles
*/


/** H e a d e r - settings */
.ce_plugin_header--settings{
    white-space: nowrap;
    /*padding-right: 10px;    */
}
.ce_plugin_header--caption{
    color: #b9c2c2;
}
.ce_plugin_header--select_button{
    display: inline-block;
    margin-left: 40px;
    border-bottom: 1px solid #c3d5ed;
    padding-bottom: 2px;
    color: #5399d4;
    cursor: pointer;
}
    .ce_plugin_header--select_button:hover{
        border-bottom-color: #f6d8da;
        color: #cc7d74;
    }

/*
@-webkit-keyframes bounceIn {
    0% { opacity: 0; -webkit-transform: scale(.3);}
    50% {opacity: 1; -webkit-transform: scale(1.05);}
    70% {-webkit-transform: scale(.9);}
    100% {-webkit-transform: scale(1);}
}

@-moz-keyframes bounceIn {
    0% {opacity: 0;-moz-transform: scale(.3);}
    50% {opacity: 1;-moz-transform: scale(1.05);}
    70% {-moz-transform: scale(.9);}
    100% {-moz-transform: scale(1);}
}
@-o-keyframes bounceIn {
    0% {opacity: 0;-o-transform: scale(.3);}
    50% {opacity: 1;-o-transform: scale(1.05);}
    70% {-o-transform: scale(.9);}
    100% {-o-transform: scale(1);}
}
@keyframes bounceIn {
    0% {opacity: 0;transform: scale(.3);}
    50% {opacity: 1;transform: scale(1.07);}
    70% {transform: scale(.9);}
    100% {transform: scale(1);}
}

.bounceIn {
    -webkit-animation-name: bounceIn; -webkit-animation-duration: 600ms; -webkit-animation-iteration-count: 1;
    -moz-animation-name: bounceIn; -moz-animation-duration: 600ms; -moz-animation-iteration-count: 1;
    -o-animation-name: bounceIn; -o-animation-duration: 600ms; -o-animation-iteration-count: 1;
    animation-name: bounceIn; animation-duration: 600ms; animation-iteration-count: 1;
}
*/
