.ce-block {
  &:first-of-type {
    margin-top: 0;
  }

  &--selected {
    background-image: linear-gradient(17deg, rgba(243, 248, 255, 0.03) 63.45%, rgba(207, 214, 229, 0.27) 98%);
    border-radius: 3px;
  }

  &--stretched &__content {
    max-width: none;
  }

  &__content {
    position: relative;
    max-width: var(--content-width);
    margin: 0 auto;
  }

  &--drop-target &__content {
     border-bottom: var(--color-gray-border) dashed 2px;

     &:after {
       content: '>';
       position: absolute;
       transform: translate(-150%, -60%);
       font-size: 1.5em;
       color: var(--color-gray-border);
     }
  }
}
