.ce-block {
  &:first-of-type {
    margin-top: 0;
  }

  &--selected &__content {
    background: var(--selectionColor);

    /**
     * Workaround Safari case when user can select inline-fragment with cross-block-selection
     */
    & [contenteditable] {
      -webkit-user-select: none;
      user-select: none;
    }

    img,
    .ce-stub {
      opacity: 0.55;
    }
  }

  &--stretched &__content {
    max-width: none;
  }

  &__content {
    position: relative;
    max-width: var(--content-width);
    margin: 0 auto;
    transition: background-color 150ms ease;
  }

  &--drop-target &__content {
    &:after {
      content: '';
      top: 100%;
      height: 1px;
      position: absolute;
      width: 100%;
      border-bottom: 5px solid var(--selectionColor);
      pointer-events: none;
    }
  }

  &--drop-target-top &__content {
    &:after {
      top: 0%;
    }
  }

  a {
    cursor: pointer;
    text-decoration: underline;
  }

  b {
    font-weight: bold;
  }

  i {
    font-style: italic;
  }
}

.codex-editor--narrow .ce-block--focused {
  @media (--not-mobile) {
    margin-right: calc(var(--narrow-mode-right-padding) * -1);
    padding-right: var(--narrow-mode-right-padding);
  }
}
