.ce-conversion-toolbar {
  @apply --overlay-pane;

  padding: 3px;
  box-shadow: 0 6px 12px -6px rgba(131, 147, 173, 0.46),
    5px -12px 34px -13px rgba(97, 105, 134, 0.6),
    0 26px 52px 3px rgba(147, 165, 186, 0.24);
  //opacity: 0;
  //visibility: hidden;
  will-change: transform, opacity;
  transition: transform 150ms ease, opacity 250ms ease;
  transform: translateY(8px) scale(0.9);
  width: 150px;

  &::before {
    left: 20px;
  }

  &--showed {
    opacity: 1;
    visibility: visible;
    transform: none;
  }

  [hidden] {
    display: none !important;
  }

  &__buttons {
    display: flex;
  }
}

.ce-conversion-tool {
  display: flex;
  padding: 5px 10px;
  line-height: 20px;
  cursor: pointer;

  &:hover {
    background: var(--bg-light);
  }

  &:not(:last-of-type) {
    margin-right: 2px;
  }

  &__icon {
    display: inline-flex;
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-gray-border);
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background: #fff;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &--last {
    margin-right: 0 !important;
  }

  &--active {
    color: var(--color-active-icon) !important;
  }

  &--active {
    animation: bounceIn 0.75s 1;
    animation-fill-mode: forwards;
  }
}
