.ce-conversion-toolbar {
  @apply --overlay-pane;

  opacity: 0;
  visibility: hidden;
  will-change: transform, opacity;
  transition: transform 100ms ease, opacity 100ms ease;
  transform: translateY(-8px);
  left: -1px;
  width: 150px;
  margin-top: 5px;
  box-sizing: content-box;

  &--showed {
    opacity: 1;
    visibility: visible;
    transform: none;
  }

  [hidden] {
    display: none !important;
  }

  &__buttons {
    display: flex;
  }

  &__label {
    color: var(--grayText);
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.33px;
    padding: 10px 10px 5px;
    text-transform: uppercase;
  }
}

.ce-conversion-tool {
  display: flex;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
  align-items: center;

  &--hidden {
    display: none;
  }

  &--focused {
    box-shadow: inset 0 0 0px 1px rgba(7, 161, 227, 0.08);
    background: rgba(34, 186, 255, 0.08) !important;

    &-animated {
      animation-name: buttonClicked;
      animation-duration: 250ms;
    }
  }

  &:hover {
    background: var(--bg-light);
  }

  &__icon {
    display: inline-flex;
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-gray-border);
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background: #fff;

    svg {
      width: 11px;
      height: 11px;
    }
  }

  &--last {
    margin-right: 0 !important;
  }

  &--active {
    color: var(--color-active-icon) !important;
  }

  &--active {
    animation: bounceIn 0.75s 1;
    animation-fill-mode: forwards;
  }
}
