/**
 * Block Tool wrapper
 */
.cdx-block {
  padding: 0.7em 0;
}

/**
 * Input
 */
.cdx-input {
  border: 1px solid var(--color-gray-border);
  box-shadow: inset 0 1px 2px 0 rgba(35, 44, 72, 0.06);
  border-radius: 3px;
  padding: 12px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

/**
 * Settings
 */
.cdx-settings-button {
  @apply --toolbar-button;

  &--actvie {
    color: var(--color-active-icon);
  }
}

/**
 * Loader
 */
.cdx-loader {
  position: relative;
  border: 1px solid var(--color-gray-border);

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 18px;
    height: 18px;
    margin: -11px 0 0 -11px;
    border: 2px solid var(--color-gray-border);
    border-left-color: var(--color-active-icon);
    border-radius: 50%;
    animation: cdxRotation 1.2s infinite linear;
  }
}

@keyframes cdxRotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
