/**
 * Block Tool wrapper
 */
.cdx-block {
  padding: var(--block-padding-vertical) 0;

  &::-webkit-input-placeholder {
    line-height:normal!important;
  }
}

/**
 * Input
 */
.cdx-input {
  border: 1px solid var(--color-gray-border);
  box-shadow: inset 0 1px 2px 0 rgba(35, 44, 72, 0.06);
  border-radius: 3px;
  padding: 10px 12px;
  outline: none;
  width: 100%;
  box-sizing: border-box;

  /**
   * Workaround Firefox bug with cursor position on empty content editable elements with ::before pseudo
   * https://bugzilla.mozilla.org/show_bug.cgi?id=904846
   */
  &[data-placeholder]::before {
    position: static !important;
    display: inline-block;
    width: 0;
    white-space: nowrap;
    pointer-events: none;
  }
}

/**
 * Settings
 * @deprecated - use tunes config instead of creating html element with controls
 */
.cdx-settings-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 3px;
  cursor: pointer;
  border: 0;
  outline: none;
  background-color: transparent;
  vertical-align: bottom;
  color: inherit;
  margin: 0;
  min-width: var(--toolbox-buttons-size);
  min-height: var(--toolbox-buttons-size);

  &--focused {
    @apply --button-focused;

    &-animated {
      animation-name: buttonClicked;
      animation-duration: 250ms;
    }
  }

  &--active {
    color: var(--color-active-icon);
  }

  svg {
    width: auto;
    height: auto;

    @media (--mobile) {
      width: var(--icon-size--mobile);
      height: var(--icon-size--mobile);
    }
  }

  @media (--mobile) {
    width: var(--toolbox-buttons-size--mobile);
    height: var(--toolbox-buttons-size--mobile);
    border-radius: 8px;
  }

  @media (--can-hover) {
    &:hover {
      background-color: var(--bg-light);
    }
  }
}

/**
 * Loader
 */
.cdx-loader {
  position: relative;
  border: 1px solid var(--color-gray-border);

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 18px;
    height: 18px;
    margin: -11px 0 0 -11px;
    border: 2px solid var(--color-gray-border);
    border-left-color: var(--color-active-icon);
    border-radius: 50%;
    animation: cdxRotation 1.2s infinite linear;
  }
}

@keyframes cdxRotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**
 * Button
 */
.cdx-button {
  padding: 13px;
  border-radius: 3px;
  border: 1px solid var(--color-gray-border);
  font-size: 14.9px;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(18,30,57,0.04);
  color: var(--grayText);
  text-align: center;
  cursor: pointer;

  @media (--can-hover) {
    &:hover {
      background: #FBFCFE;
      box-shadow: 0 1px 3px 0 rgba(18,30,57,0.08);
    }
  }

  svg {
    height: 20px;
    margin-right: 0.2em;
    margin-top: -2px;
  }
}
