.ce-inline-toolbar {
  @apply --overlay-pane;
  padding: 6px;
  transform: translateX(-50%);
  display: none;

  &--showed {
    display: block;
  }
}

.ce-inline-tool {
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 3px;
  cursor: pointer;
  border: 0;
  outline: none;
  background: transparent;
  vertical-align: bottom;
  color: var(--grayText);

  &:hover {
    background: var(--bg-light);
  }

  &--active {
    color: var(--color-active-icon);
  }

  &--link {
    .icon {
      margin-top: -2px;
    }

    .icon--unlink {
      display: none;
    }
  }

  &--unlink {
    .icon--link {
      display: none;
    }
    .icon--unlink {
      display: inline-block;
    }
  }

  &-input {
    background: var(--bg-light);
    outline: none;
    border: 0;
    border-radius: 3px;
    margin: 6px 0 0;
    font-size: 13px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    display: none;

    &::placeholder {
      color: var(--grayText);
    }

    &--showed {
      display: block;
    }
  }
}
