.ce-popover {
  position: absolute;
  visibility: hidden;
  transition: opacity 100ms ease;
  will-change: opacity;
  display: flex;
  flex-direction: column;
  padding: 4px;
  min-width: 200px;
  max-height: 284px;
  overflow: hidden;
  box-sizing: border-box;
  flex-shrink: 0;

  @apply --overlay-pane;

  flex-wrap: nowrap;

  &--opened {
    visibility: visible;
  }

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    box-sizing: border-box;
    box-shadow: inset 0 0 2px 2px var(--bg-light);
    border: 3px solid transparent;
    border-left-width: 0px;
    border-top-width: 4px;
    border-bottom-width: 4px;
  }

  @media (--mobile) {
    position: fixed;
    max-width: none;
    min-width: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
  }

  &__items {
    overflow-y: auto;
    margin-top: 5px;
    overscroll-behavior: contain;
  }

  &__item {
    @apply --popover-button;

    &--focused {
      @apply --button-focused;
    }

    &--hidden {
      display: none;
    }

    &-icon {
      @apply --tool-icon;
    }

    &-label {
      &::after {
        content: '';
        width: 25px;
        display: inline-block;
      }
    }

    &-secondary-label {
      color: var(--grayText);
      font-size: 12px;
      margin-left: auto;
      white-space: nowrap;
      letter-spacing: -0.1em;
      padding-right: 5px;
      margin-bottom: -2px;
      opacity: 0.6;
    }
  }

  &__no-found {
    @apply --popover-button;

    color: var(--grayText);
    display: none;
    cursor: default;

    &--shown {
      display: block;
    }

    &:hover {
      background-color: transparent;
    }
  }
}
