.ce-stub {
  display: flex;
  align-items: center;
  padding: 12px 18px;
  margin: 10px 0;
  border-radius: 10px;
  background: var(--bg-light);
  border: 1px solid var(--color-line-gray);
  color: var(--grayText);
  font-size: 14px;

  svg {
    width: var(--icon-size);
    height: var(--icon-size);
  }

  &__info {
    margin-left: 14px;
  }

  &__title {
    font-weight: 500;
    text-transform: capitalize;
  }
}
