.ce-toolbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  /*opacity: 0;*/
  /*visibility: hidden;*/
  transition: opacity 100ms ease;
  will-change: opacity, transform;
  display: none;

  @media (--mobile) {
    position: fixed;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
    z-index: 9;
    height: 50px;
    background: #fff;
    box-shadow:  0 -2px 12px rgba(60, 67, 81, 0.18);
    transform: none !important;
  }

  &--opened {
    display: block;

    @media (--mobile){
      display: flex;
    }
  }

  &__content {
    max-width: var(--content-width);
    margin: 0 auto;
    position: relative;

    @media (--mobile){
      display: flex;
      align-content: center;
      margin: 0;
      padding: 0 10px;
      max-width: calc(100% - 70px);
      overflow-x: auto;
    }
  }

  &__plus {
    @apply --toolbox-button;

    position: absolute;
    left: calc(var(--toolbox-buttons-size) * -1);

    &--hidden {
      display: none;
    }
  }

  &__plus,
  .ce-toolbox {
    top: 50%;
    transform: translateY(-50%);
  }

  /**
   * Block actions Zone
   * -------------------------
   */
  &__actions {
    position: absolute;
    right: 0;
    top: 10px;
    padding-right: 16px;
    opacity: 0;

    @media (--mobile){
      position: static;
      margin-left: auto;
      display: flex;
      align-items: center;
    }

    &--opened {
      opacity: 1;
    }

    &-buttons {
      text-align: right;
    }
  }

  &__settings-btn {
    display: inline-block;
    width: 24px;
    height: 24px;
    color: var(--grayText);
    cursor: pointer;
  }
}

/**
 * Styles for Narrow mode
 */
.codex-editor--narrow .ce-toolbar__plus {
  left: 5px;
}

/**
 * On mobile devices, we show Toolbox (fixed to bottom) instead of Plus Button
 */
@media (--mobile){
  .ce-toolbar--with-plus-button {
    .ce-toolbar__plus {
      display: none !important;
    }
  }
}
