.ce-toolbox {
  position: absolute;
  visibility: hidden;
  transition: opacity 100ms ease;
  will-change: opacity;
  display: flex;
  flex-direction: row;

  @media (--mobile){
    position: static;
    transform: none !important;
    align-items: center;
    visibility: visible !important;
  }

  &--opened {
    opacity: 1;
    visibility: visible;
  }

  &__button {
    @apply --toolbox-button;
  }
}


/**
 * Styles for Narrow mode
 */
.codex-editor--narrow .ce-toolbox {
  background: #fff;
  z-index: 2;
}
