.ce-toolbox {
  --gap: 8px;

  @media (--not-mobile){
    position: absolute;
    top: calc(var(--toolbox-buttons-size) + var(--gap));
    left: 0;

    &--opened-top {
      top: calc(-1 * (var(--gap) + var(--popover-height)));
    }
  }
}

.codex-editor--narrow .ce-toolbox {
  @media (--not-mobile){
    left: auto;
    right: 0;

    .ce-popover {
      right: 0;
    }
  }
}
