@import "tunes/move-up.css";
@import "tunes/delete.css";

.ce-toolbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  /*opacity: 0;*/
  /*visibility: hidden;*/
  transition: opacity 100ms ease;
  will-change: opacity, transform;
  display: none;

  &--opened {
    display: block;
    /*opacity: 1;*/
    /*visibility: visible;*/
  }

  &__content {
    max-width: var(--content-width);
    margin: 0 auto;
    position: relative;
  }

  &__plus {
    position: absolute;
    left: calc(calc(var(--toolbar-buttons-size) + 10px) * -1);
    display: inline-block;
    background-color: var(--bg-light);
    width: var(--toolbar-buttons-size);
    height: var(--toolbar-buttons-size);
    line-height: 34px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;

    &--hidden {
      display: none;
    }
  }

  /**
   * Block actions Zone
   * -------------------------
   */
  &__actions {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 5px;
    padding-right: 21px;

    &-buttons {
      text-align: right;
    }
  }

  &__settings-btn {
    display: inline-block;
    width: 24px;
    height: 24px;
    color: var(--grayText);
    cursor: pointer;
  }
}
