/**
* Editor wrapper
*/
.codex-editor {
  position: relative;
  box-sizing: border-box;

  .hide {
    display: none;
  }

  &__redactor {
    padding-bottom: 300px;
  }

  svg {
    fill: currentColor;
    vertical-align: middle;
    max-height: 100%;
  }
}

/**
 * Set color for native selection
 */
::selection{
  background-color: var(--selectionColor);
}

/**
 * Add placeholder to content editable elements with data attribute
 * data-placeholder="Hello world!"
 */
[contentEditable=true]:empty:not(:focus):before{
  content: attr(data-placeholder);
  color: var(--grayText);
}
