/**
* Editor wrapper
*/
.codex-editor {
  position: relative;
  box-sizing: border-box;

  .hide {
    display: none;
  }

  &__redactor {
    padding-bottom: 300px;
  }

  &-copyable {
    position: absolute;
    height: 1px;
    width: 1px;
    top: -400%;
    opacity: 0.001;
  }

  svg {
    fill: currentColor;
    vertical-align: middle;
    max-height: 100%;
  }
}

/**
 * Set color for native selection
 */
::selection{
  background-color: var(--selectionColor);
}

/**
 * Add placeholder to content editable elements with data attribute
 * data-placeholder="Hello world!"
 */
[contentEditable=true][data-placeholder]:empty::before{
  content: attr(data-placeholder);
  color: var(--grayText);
  font-weight: normal;
}

[contentEditable=true][data-placeholder]:empty:focus::before {
  opacity: 0.3;
}
