/**
* Editor wrapper
*/
.codex-editor {
  position: relative;
  box-sizing: border-box;

  .hide {
    display: none;
  }

  &__redactor {
    padding-bottom: 300px;
  }

  &-copyable {
    position: absolute;
    height: 1px;
    width: 1px;
    top: -400%;
    opacity: 0.001;
  }

  &-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    pointer-events: none;
    overflow: hidden;

    &__container {
      position: relative;
      pointer-events: auto;
      z-index: 0;
    }

    &__rectangle {
       position: absolute;
       pointer-events: none;
       background-color: rgba(46, 170, 220, 0.2);
       border: 1px solid transparent;
    }

     &__scroll-zone {


        &--top {
           top: 0;
           width: 100%;
           height: 30px;
           position: absolute;
           pointer-events: auto;
         }

        &--bottom {
           bottom: 0;
           width: 100%;
           height: 30px;
           position: absolute;
           pointer-events: auto;
          }
      }
  }

  svg {
    fill: currentColor;
    vertical-align: middle;
    max-height: 100%;
  }
}

/**
 * Set color for native selection
 */
::selection{
  background-color: var(--selectionColor);
}

/**
 * Add placeholder to content editable elements with data attribute
 * data-placeholder="Hello world!"
 */
[contentEditable=true][data-placeholder]:empty::before{
  content: attr(data-placeholder);
  color: var(--grayText);
  font-weight: normal;
}

[contentEditable=true][data-placeholder]:empty:focus::before {
  opacity: 0.3;
}
