:root {

    /**
     * Toolbar buttons
     */
    --bg-light: #eff2f5;

    /**
     * All gray texts: placeholders, settings
     */
    --grayText: #707684;

    /**
     * Block content width
     */
    --content-width: 650px;

    /**
     * Toolbar Plus Button and Toolbox buttons height and width
     */
    --toolbar-buttons-size: 34px;

    --overlay-pane: {
        position: absolute;
        background: #FFFFFF;
        box-shadow: 0 8px 23px -6px rgba(21,40,54,0.31), 22px -14px 34px -18px rgba(33,48,73,0.26);
        border-radius: 4px;
        z-index: 2;

        &::before {
            content: '';
            width: 15px;
            height: 15px;
            position: absolute;
            top: -7px;
            left: 50%;
            margin-left: -7px;
            transform: rotate(-45deg);
            background: #fff;
        }
    }

}
