.codex-popover {
  --border-radius: 6px;
  --width: 200px;
  --max-height: 270px;
  --padding: 6px;
  --gap: 8px;

  padding: var(--padding);
  min-width: var(--width);
  width: var(--width);
  max-height: var(--max-height);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #e8e8eb;
  box-shadow: 0 3px 15px -3px rgba(13,20,33,0.13);
  position: absolute;
  left: 0;
  top: calc(100% + var(--gap));
  background: white;
  display: flex;
  flex-direction: column;
  
  animation: panelShowing 100ms ease;

  @media (--mobile) {
    animation: panelShowingMobile 250ms ease;
  }

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    box-sizing: border-box;
    box-shadow: inset 0 0 2px 2px var(--bg-light);
    border: 3px solid transparent;
    border-left-width: 0px;
    border-top-width: 4px;
    border-bottom-width: 4px;
  }

  &__items {
    overflow-y: auto;
    overscroll-behavior: contain;

    @media (--not-mobile) {
      margin-top: 5px;
    }
  }

  &--open-top {
    top: calc(-1 * (var(--gap) + var(--popover-height)));
  }

  &--closed {
    opacity: 0;
    max-height: 0;
    pointer-events: none;
    padding: 0;
    border: none;
  }

  &__search {
    margin-bottom: 5px;
  }

  &__nothing-found-message {
    color: var(--grayText);
    display: none;
    cursor: default;
    padding: 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &--displayed {
      display: block;
    }
  }

  &__custom-content:not(:empty) {
    padding: 4px;

    @media (--not-mobile) {
      padding: 0;
    }
  }

  &__custom-content--hidden {
    display: none;
  }
}
