/**
 * Styles for the Term tool
 *
 * CodeX Editor Inline Toolbar plugin
 */
.ce-term-tool__icon {
  background: url('term.svg') no-repeat center center;
}

.ce-term-tool__icon--active {
  background-image: url('term-blue.svg');
}


.marked {
  background: rgba(251,241,241,0.78);
  color: #C44545;
  padding: 4px 6px;
  border-radius: 2px;
  margin: 0 2px;
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  font-size: 0.9em;
}
