/*.marked {*/
  /*background: yellowgreen;*/
/*}*/

.marked {
  font-family: 'monospace', 'monaco', 'consolas', 'courier';
  background-color: rgba(255, 97, 106, 0.2);
  border: 1px solid rgba(255, 98, 86, 0.49);
  padding: 0px 3px;
  border-radius: 3px;
}
