{
    "plugins": [
        "cypress"
    ],
    "env": {
        "cypress/globals": true
    },
    "extends": [
        "plugin:cypress/recommended"
    ],
    "rules": {
        "cypress/require-data-selectors": 2
    },
    "globals": {
        "EditorJS": true
    }
}